<%= form_with(model: registration, local: false) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :registration_first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_initial %>
    <%= form.text_field :middle_initial, id: :registration_middle_initial %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :registration_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :registration_email %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :registration_age %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :registration_date_of_birth %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
